#dashboard-panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background-color: #232323;
  transition: 0.5s;
}

#dashboard-panel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#dashboard-panel a:hover {
  color: #f1f1f1;
}

#dashboard-content {
  display: flex;
  flex-direction: column;
}

#dashboard-content {
  display: flex;
  flex-direction: column;
}

#dashboard-cards {
  display: flex;
  flex-direction: row;
}

.chart-card {
  position: relative;
  bottom: 0;
  height: 90%;
  width: 300px;
  padding: 20px;
  margin: 10px;
  background-color: black;
}

#piechart {
  right: 0;
}