:root {
  --color-card-txt: #f1f1f1;
  --color-card-bg: #333333;
  --color-card-hl-bg: rgba(90, 189, 249, 0.2);
  --color-card-hl: rgba(90, 189, 249, 1);
} 

.db-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.db-row {
  display: flex;
  flex-direction: row;
}

.db-card {
  position: relative;
  bottom: 0;
  color: var(--color-card-txt);
  background-color: var(--color-card-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.db-card-s {
  height: 60px;
  width: 200px;
  padding: 25px;
  margin: 5px;
}

.db-card-l {
  height: 200px;
  width: 300px;
  padding: 20px;
  margin: 10px;
}

.db-card-lt {
  height: 340px;
  width: 300px;
  padding: 20px;
  margin: 10px;
}

.db-indicator {
  color: var(--color-card-txt);
}

.i-header {
  font-size: medium;
}

.i-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.i-text {
  font-size: x-large;
}

.i-footer {
  font-size: small;
}

.db-list {
  overflow-y: scroll;
}

.db-list-item {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  min-width: 300px;
  padding: 3px;
  color: var(--color-card-txt);
  align-items: center;
  border-bottom: 1px;
  cursor: pointer;
}

.db-list-text {
  display: flex;
  flex-direction: column;
  font-family: "Avenir Next W01","Avenir Next W00","Avenir Next","Avenir","Helvetica Neue",sans-serif;
  margin-left: 7px;
}

.db-list-text-header {
  font-size: small;
}

.db-list-text-body, .db-list-text-footer {
  font-size: x-small;
}

.db-list-item:hover, .db-list-item.active {
  color: var(--color-card-hl);
  background-color: var(--color-card-hl-bg);
}