:root {
  --color-card-txt: #f1f1f1;
  --color-card-bg: #333333;
  --color-card-hl: #5abdf9;
} 

#db-content {
  display: flex;
  flex-direction: column;
}

#db-cards {
  display: flex;
  flex-direction: row;
}

.db-row {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.db-card {
  position: relative;
  bottom: 0;
  padding: 20px;
  margin: 10px;
  background-color: var(--color-card-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.db-card-s {
  height: 45%;
  width: 200px;
}

.db-card-l {
  height: 75%;
  width: 300px;
}

.db-indicator {
  color: var(--color-card-txt);
}

.i-header {
  font-size: medium;
}

.i-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.i-text {
  font-size: x-large;
}

.i-footer {
  font-size: small;
}